@model PagedList.IPagedList<Rental.WebUI.ViewModels.Advert.AdvertViewModel>

<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <tr>
            <th>@Html.DisplayNameFor(m => m.SingleOrDefault().Header)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Price)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Footage)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Address.District)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Address.Street)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Type)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Header</td>
                <td>@item.Price</td>
                <td>@item.Footage</td>
                <td>@item.Address.District</td>
                <td>@item.Address.Street</td>
                <td>@item.Type</td>
                <td>
                    <div class="pull-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Reserve", "Home", routeValues: new { advertId = item.Id })" class="btn btn-default" data-alert="">Reserve</a>
                        }
                        <a href="@Url.Action("Details", "Home", routeValues: new { advertId = item.Id })" class="btn btn-default" data-modal="">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("List", "Home", routeValues: new { page }))