@model IEnumerable<Rental.WebUI.ViewModels.Advert.AdvertViewModel>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Header)</th>
            <th>@Html.DisplayNameFor(x => x.Footage)</th>
            <th>@Html.DisplayNameFor(x => x.Price)</th>
            <th>@Html.DisplayNameFor(x => x.Address.District)</th>
            <th>@Html.DisplayNameFor(x => x.Address.Street)</th>
            <th>@Html.DisplayNameFor(x => x.Type)</th>
            <th></th>            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Header</td>
                <td>@item.Footage</td>
                <td>@item.Price</td>
                <td>@item.Address.District</td>
                <td>@item.Address.Street</td>
                <td>@item.Type</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Details", "Advert", routeValues: new { advertId = item.Id })" class="btn btn-default" data-modal="">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                        <a href="@Url.Action("Unreserve", "Advert", routeValues: new { advertId = item.Id })" class="btn btn-warning" data-modal="">Unreserve</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
